# PyCharm
.idea/

# ignore all folders except data/
/*/
!data/

# include test data

data/*
!data/testSet
data/corpusTagged/
data/CorrectedCorpus/
!data/ok/


!data/corpusTagged/.gitkeep
!data/CorrectedCorpus/.gitkeep

data/ok/*
!data/ok/.gitkeep

# exclude everything
#somefolder/*

# exception to the rule
#!somefolder/.gitkeep