# PyCharm
.idea/

# ignore all folders except data/
/*/
!data/

# include test data
data/*
!data/testSet


# keep empty folders

!data/corpusTagged/
data/corpusTagged/*
!data/CorrectedCorpus/
data/CorrectedCorpus/*

!data/corpusTagged/.gitkeep
!data/CorrectedCorpus/.gitkeep


